div {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}


a {
  border: 1px solid black;
  background: #5F9EA0;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  transition: background 500ms ease;
}

.homepage {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%
}


a:hover {
  border: black;
  background: white;
  color: black;
}

.res-container {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%
}



.cv-container {
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%
}

div.CV {
  margin: 0 10px;
  line-height: 2;
}


@media screen and (max-width: 768px)
{

  .homepage {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .home {
    font-size: 22px;
  }

  .cv-container {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .CV {
    font-size: 22px;
  }

  .res-container {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .job-experience {
    font-size: 22px;
  }
}