div {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}


a {
  border: 1px solid black;
  background: #5F9EA0;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  transition: background 500ms ease;
}

.homepage {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%;
}

.home {
  position: relative;
  left: -100%;
  animation: enterFromLeft 2s forwards;
}


.links {
  position: absolute;
  bottom: -100%;
  animation: comeUpFromBottom 2s forwards;
}


a:hover {
  border: black;
  background: white;
  color: black;
}

.res-container {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%;

  position: relative;
  left: -100%;
  animation: enterFromLeft 2s forwards;
}



.cv-container {
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;

  position: relative;
  left: -100%;
  animation: enterFromLeft 2s forwards;
}

div.CV {
  margin: 0 10px;
  line-height: 2;
}


@keyframes enterFromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}


@keyframes comeUpFromBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}


@media screen and (max-width: 768px)
{

  .homepage {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .home {
    font-size: 22px;
  }

  .cv-container {
    font-size: 22px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .CV {
    font-size: 20px;
  }

  .res-container {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .job-experience {
    font-size: 22px;
  }
}